label, input, select, textarea{
    display:block ;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}
.emlinha{
    display: inline;
}
form{
    width: 550px;
    margin: auto;
    background: #eee;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
label{
    padding: 0;
    margin: 0;
    width:100%;
    font-size: 16px;
}
.emlinha{
    display: inline;
    width: 2%;
    font-size: 14px;
}
.medidas{
    display: inline;
    width: 35%;
}
input[type="checkbox"], input[type="radio"]{
    margin-right: 0;
    margin-left: 15px;

}
input, select, textarea{
    border-radius: 5px;
    border: solid 1px #ccc
}
input:focus, select, textarea{
    outline: none;
    border: solid 1px #ffb300;

}
#enviar{
    width: 100%;
    border: 2px solid #ffb300;
    background-color: #fff;
    color: #ffb300;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    font-size: 16px;
    letter-spacing: 0.04em;
}
#enviar:hover{
    background-color: #ffb300;
    color: #fff;
    transition: all linear 0.3s;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  button:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }